In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [2]:
college_data = pd.read_csv("Employment Projections.csv")

In [6]:
college_data.head("")

,Occupation Title,Occupation Code,Employment 2021,Employment 2031,"Employment Change, 2021-2031","Employment Percent Change, 2021-2031","Occupational Openings, 2021-2031 Annual Average",Median Annual Wage 2021,Typical Entry-Level Education,Education Code,Work Experience in a Related Occupation,Workex Code,Typical on-the-job Training,trCode
0,Accountants and auditors * Account Auditor*...,"=""13-2011""","1,449.8","1,531.6",81.8,5.6,136.4,"77,250",Bachelor's degree,3,None,4,None,6
1,Actors * Actor Understudy* Actress* Dramati...,"=""27-2011""",50.6,54.7,4.1,8.2,7.0,NaN,"Some college, no degree",6,None,4,Long-term on-the-job training,3
2,Actuaries * Actuarial Associate* Actuarial ...,"=""15-2011""",28.3,34.2,5.9,20.8,2.4,"105,900",Bachelor's degree,3,None,4,Long-term on-the-job training,3
3,Acupuncturists,"=""29-1291""",23.7,24.6,0.9,3.9,1.7,"60,570",Master's degree,2,None,4,None,6
4,Adhesive bonding machine operators and tenders...,"=""51-9191""",12.7,12.9,0.2,1.5,1.6,"37,630",High school diploma or equivalent,7,None,4,Moderate-term on-the-job training,4

In [18]:
college_df = college_data.dropna(subset = ["Median Annual Wage 2021"])
college_df.columns

Index(['Occupation Title', 'Occupation Code', 'Employment 2021',
       'Employment 2031', 'Employment Change, 2021-2031',
       'Employment Percent Change, 2021-2031',
       'Occupational Openings, 2021-2031 Annual Average',
       'Median Annual Wage 2021', 'Typical Entry-Level Education',
       'Education Code', 'Work Experience in a Related Occupation',
       'Workex Code', 'Typical on-the-job Training', 'trCode'],
      dtype='object')

In [38]:
college_df["Median Wage 2021"] = college_df["Median Annual Wage 2021"].str.replace(",","")
#in order to change wage to a float, we needed to get rid of commas and then change the values of '>=208000' to '208000'. 
#This affected 18 rows of data
college_df["Median Wage 2021"] = college_df["Median Wage 2021"].str.replace(">=208000","208000")

college_df["Median Wage 2021"] = college_df["Median Wage 2021"].astype(float)
#college_df.head()
college_df_mean = round(college_df.groupby("Typical Entry-Level Education")["Median Wage 2021"].mean(),2)
college_df_mean

C:\Users\bhart\AppData\Local\Temp\ipykernel_4124\3333635120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df["Median Wage 2021"] = college_df["Median Annual Wage 2021"].str.replace(",","")
C:\Users\bhart\AppData\Local\Temp\ipykernel_4124\3333635120.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df["Median Wage 2021"] = college_df["Median Wage 2021"].str.replace(">=208000","208000")
C:\Users\bhart\AppData\Local\Temp\ipykernel_4124\3333635120.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  college_df["Median Wage 2021"] = college_df["Median Wage 2021"].astype(float)

Typical Entry-Level Education
Associate's degree                    59480.61
Bachelor's degree                     80170.89
Doctoral or professional degree      123650.14
High school diploma or equivalent     46071.43
Master's degree                       82992.56
No formal educational credential      36277.00
Postsecondary nondegree award         53101.20
Some college, no degree               40008.33
Name: Median Wage 2021, dtype: float64

In [ ]:
college_df["Education_level"]